.edit_profile_container {
    width: 100%;
    height: 910px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
 }
 
 .edit_profile_content{
     position: relative;
     width: 80%;
     margin: 0 auto;
 }

 .profile_pic{
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    padding: 20px;
    border: solid black 5px;
    margin: 20px;
 }

.edit-profile-margin,.edit-profile-margin2{
    margin-bottom: 20px;
    padding: 10px;
}

.personal-margin{
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px;
}
.location-margin{
    margin-bottom: 25px;
    margin-top: 76px;
    padding: 10px;
}
.first-name-margin,.username-margin,.email-margin,.birthdate-margin,.address-margin,.barangay-margin,.city-margin,.zip-margin{
    margin-bottom: 25px;
    padding: 0 25px;
}



 