/* ACCOUNT OVERVIEW CSS */
/* SIDEBAR */
.sidebar-wrapper-outer {
   display: flex;
   flex-direction: column;
   align-items: center;

   background-color: white;
   min-height: 100vh;
   position: relative;
   font-family: var(--montserrat-font);
}


.sidebar-header {
   position: absolute;
   top: -80px;
   left: 0;
   font-size: 40px;
   font-weight: 600;
   font-family: var(--crimson-font);
   color: var(--dark-blue-dark)
}

.account-settings-container,
.account-settings-container,
.change-password-container {
   display: flex;
   flex-direction: column;

   width: 100%;
   height: 781px;
   background-color: white;
   border-radius: 15px;

   overflow-y: scroll;
}

.change-password-container {
   overflow-y: auto;
}





.edit_profile_details_header,
.order_status_details_header,
.purchase_history_details_header {
   display: flex;
   position: relative;
   justify-content: space-between;
   margin: 1.5rem 2rem;
   padding: 0 1rem;

}


.edit_profile_details_header h1,
.order_status_details_header h1,
.purchase_history_details_header h1 {
   font-size: 1.8rem;
   font-weight: 800;
}


.sidebar-wrapper {
   display: flex;
   /* justify-content: space-between; */
   width: 1280px;
   margin-top: 140px;
   background-color: var(--light-gray);
   /* background-color: #f8f9fd; */
   position: relative;
   border-radius: 15px;
   padding: 10px;
   box-shadow: 0px 30px 55px 0px rgba(33, 37, 49, 0.08);
   /* box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px; */
}

.sidebar_menu {
   display: flex;
   flex-direction: column;
   position: relative;
   list-style: none;
   width: 240px;
   gap: 10px;
   margin: 20px 30px 20px 40px;
}

.topnav_menu {
   display: none;
}

.mob-sidebar-icon-ch {
   color: #686D81;
   font-size: 30px;
}

.sidebar-link {
   /* width: 100%; */
   /* background-color: blanchedalmond; */
   font-size: 18px;
   font-weight: 600;
   /* color: #5e6592; */
   color: var(--secondary-font-color);
   text-align: center;
   text-decoration: none;
   padding: 12px 20px;
   position: relative;
   border-radius: 12px;
   transition: all 0.2s ease-in-out;
}

.sidebar-link:hover {
   transform: scale(1.05);
   color: var(--dark-blue-dark);
   background-color: white;
}

.sidebar-active {
   transform: scale(1.05);
   color: white;
   background-color: #fe4766e2;
   position: relative;
}

.sidebar-active:hover {
   transform: scale(1.05);
   color: white;
   background-color: #fe4766e2;
   position: relative;
}

.sidebar-active::before {
   content: "";
   position: absolute;
   left: -42px;
   top: 0;
   height: 100%;
   width: 10px;
   background-color: #fe4766e2;
   border-radius: 0 8px 8px 0;
}

.sidebar_line_break {
   flex-shrink: 0;
   width: 90%;
   height: 1.5px;
   background-color: var(--light-gray-dark);
   margin: 0 auto;
}

/* end side bar*/


.account-settings-content {
   width: 80%;
   margin: 0 auto 40px auto;

}


.personal-margin-info {
   font-size: 20px;
}

.personal-margin,
.location-margin,
.account-settings-margin {
   padding: 10px;
}

#personal-info-section,
#location-info-section {
   margin-top: 30px;
}

#personal-margin-section {
   padding-left: 50px;
   width: 100%;

}

#full_name {
   font-size: 1.5rem;
   font-weight: 700;
   color: var(--dark-blue-dark);
   margin-bottom: 10px;
}

.uname-header1231 {

   font-size: 1rem;
   font-weight: 400;
   color: var(--dark-blue-dark);
}

.personal-info-container,
.location-info-container {
   width: 100%;
}

.avatar-info-container {

   display: flex;
   flex-direction: row;

   align-items: center;
   margin: 50px 0 30px 10px;
}

.profile_pic_231 {
   width: 150px;
   height: 150px;

   border-radius: 50%;
   border: 2px solid white;
   box-shadow: rgba(0, 0, 0, 0.189) 0px 5px 8px;
   margin-right: 50px;
}

.profile_pic_231 img {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   object-fit: cover;

}

.info-title-container {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}


/* 
#name-title {
   width: 30%;
   --montserrat-font: 'Montserrat', sans-serif;
   font-size: 15px;
   font-weight: bolder;

   padding: 10px;
}

#name-content {
   width: 70%;
   --montserrat-font: 'Montserrat', sans-serif;
   font-size: 15px;
   font-weight: light;

   padding: 10px;
} */




/* EDIT PROFILE CSS */

#personal-margin-section-edit {
   width: 50%;
   padding: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}

.info-title-container {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.btn_wrapper_section {
   display: flex;
   justify-content: flex-end;

   padding: 20px;
}

.Save-btn {
   background-color: #3A405B;
   border: none;
   border-radius: 100px;
   color: #ffffff;
   font-weight: bold;
   cursor: pointer;
   font-size: 15px;
   width: 200px;
   height: 40px;
   padding: 0 25px;
   position: relative;
   transition: all .3s, box-shadow .08s ease-in;
   user-select: none;
   -webkit-user-select: none;
}

.Save-btn:hover {
   transform: scale(1.1);
}

.upload-btn {
   text-align: center;
   border: 1px solid #3A405B;
   background-color: #FFFFFF;
   border-radius: 100px;
   color: #3A405B;
   font-weight: bold;
   cursor: pointer;
   font-size: 15px;
   width: 150px;
   height: 40px;
   padding: 0 25px;
   position: relative;
   transition: all .3s, box-shadow .08s ease-in;
   user-select: none;
   -webkit-user-select: none;


}

.upload-btn:hover {
   transform: scale(1.1);
}



.upload-btn:active {
   transform: scale(1.1);
}

.remove-btn {
   border: none;
   background-color: var(--btn-color);
   border-radius: 100px;
   color: #FFFFFF;
   font-weight: bold;
   cursor: pointer;
   font-size: 15px;
   width: 150px;
   height: 40px;
   padding: 0 25px;
   position: relative;
   transition: all .3s, box-shadow .08s ease-in;
   user-select: none;
   -webkit-user-select: none;


}

.remove-btn:hover {
   transform: scale(1.1);
}


.remove-btn:active {
   transform: scale(1.1);
}

/* CHANGE PASSWORD CSS */

.container {
   display: flex;
   flex-direction: column;
   position: relative;


}

.container .textfield-wrapper {
   width: 100%;

}

.container .textfield-wrapper .inputContainer {
   height: 40px;
   width: 90%;
   color: #4F5362;
   font-size: 12px;
   border-radius: 10px;
   background-color: #EFF0F4;
   border-color: #EFF0F4;
   padding: 5px;
   padding-left: 15px;
   border-style: none;
   margin: 5px auto 20px auto;
}

.pass-label {

   font-size: 15px;
   padding: 0 10px;
   margin-left: 5%;
}

.container .textfield-wrapper .inputContainer i {
   position: absolute;
   right: 0;
   padding: 10px 20px 0px 0px;
   font-size: 12px;
}

/* .container .textfield-wrapper .inputContainer input {
   height: 30px;
   width: 100%;
   color: #4F5362;
   font-size: 12px;
   border-radius: 10px;
   background-color: #EFF0F4;
   border-color: #F6F3FC;
   padding: 10px;
   padding-left: 15px;
   border-style: none;
} */


input[type=password]:focus {
   outline: 3px solid #ffc7d2;
   background-color: #FFFFFF;
}

.btn_wrapper {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   height: 140px;
   padding: 5px;

}

.Save-btn {
   background-color: #3A405B;
   border: none;
   border-radius: 100px;
   color: #ffffff;
   font-weight: bold;
   cursor: pointer;
   font-size: 15px;
   width: 200px;
   height: 40px;
   padding: 0 25px;
   position: relative;
   transition: all .3s, box-shadow .08s ease-in;
   user-select: none;
   -webkit-user-select: none;

}

.Save-btn:hover {
   transform: scale(1.1);
   cursor: pointer;
}


.delete-account-header2 {
   margin-top: 50px;
   padding: 10px;
}

.delete-account-parag1,
.delete-account-parag2,
.delete-account-parag3,
.delete-account-parag4 {
   font-size: 15px;
   padding: 10px;
}

.delete-account-parag3 {

   margin-bottom: 20px;
}

.delete-checkbox-btn {
   margin-left: 10px;
}

.delete-checkbox-btn {
   accent-color: var(--btn-color);
}






.delete-account-line-break-policy {
   background-color: var(--light-gray-dark);
   width: 100%;
   height: 1px;
}

.delete-btn:active {
   transform: translateY(2px);
}

.delete-btn {
   background-color: var(--btn-color);
   border: none;
   border-radius: 100px;
   color: #ffffff;
   font-weight: bold;
   cursor: pointer;
   font-size: 15px;
   width: 200px;
   height: 40px;
   padding: 0 25px;
   position: relative;
   transition: all .3s, box-shadow .08s ease-in;
   user-select: none;
   -webkit-user-select: none;
}

.delete-btn:hover {
   transform: scale(1.05);
}

#delete-account-err {
   font-size: 14px;
   margin-top: 5px;
   padding-left: 30px;
}

.delete-btn:active {
   transform: translateY(2px);
}

.delete-btn:disabled {
   cursor: default;
}

.title-2 {
   font-size: 14px;
   font-weight: 400;
   text-align: center;
   margin-top: 15px;
   margin-bottom: 30px;
}

.verify-pass-angelogwapo {
   margin-top: 20px
}

/* RESPONSIVE */

@media only screen and (max-width: 1500px) {
   .sidebar-wrapper {
      width: 950px;
   }

   .sidebar_menu {
      width: 200px;
   }

   .sidebar-link {

      font-size: 15px;

   }


   #personal-margin-section-edit {
      width: 100%;
   }
}


@media only screen and (max-width: 1366px) {
   .sidebar-wrapper {
      width: 900px;
   }


}

@media only screen and (max-width: 1280px) {
   .sidebar-wrapper {
      width: 850px;
   }

   .sidebar_menu {
      width: 190px;
   }



   #name-title {
      width: 30%;

   }

   #name-content {
      width: 70%;
   }
}


@media only screen and (max-width: 1024px) {
   .sidebar-wrapper {
      display: flex;
      flex-direction: column;
      width: 700px;
   }

   .sidebar_menu {
      display: none;
   }

   .topnav_menu {

      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

   }

   .sidebar-active {
      transform: scale(1.5);
      color: white;
      background-color: #fe4766e2;
      position: relative;
   }

   .sidebar-active::before {
      color: white;
      bottom: -8px;
      left: 0px;
      top: auto;
      height: 2px;
      width: 100%;
      background-color: #fe4766e2;
      border-radius: 0 5px 5px 0;


   }

   .fa-solid {
      font-size: 20px;
      padding: 5px;
   }

   .profile_pic {
      width: 100px;
      height: 100px;

   }

   .personal-margin,
   .location-margin,
   .account-settings-margin {
      font-size: 20px;
   }

   .personal-margin-info {
      font-size: 15px;
   }

   .view-cart-header {
      font-size: 20px;
   }

   #name-title {
      width: 30%;
      font-size: 10px;
   }

   #name-content {
      width: 70%;
      font-size: 10px;
   }

   .upload-btn,
   .remove-btn {
      font-size: 10px;
      width: 100px;
      height: 35px;
      padding: 0 20px;
   }

   .Save-btn {
      font-size: 10px;
      width: 150px;
      height: 35px;
   }
}



@media only screen and (max-width: 820px) {
   .sidebar-wrapper {
      display: flex;
      flex-direction: column;
      width: 600px;
   }

   .sidebar_menu {
      display: none;
   }

   .topnav_menu {

      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

   }

   .sidebar-active {
      transform: scale(1.5);
      color: white;
      background-color: #fe4766e2;
      position: relative;
   }

   .sidebar-active::before {
      color: white;
      bottom: -8px;
      left: 0px;
      top: auto;
      height: 2px;
      width: 100%;
      background-color: #fe4766e2;
      border-radius: 0 5px 5px 0;


   }

   .fa-solid {
      font-size: 20px;
      padding: 5px;
   }


   .view-cart-header {
      font-size: 20px;
   }

   .sidebar-link {

      font-size: 8px;

   }


   /* DELETE ACCOUNT */
   .delete-account-header2 {
      margin-top: 20px;
      padding: 10px;
   }

   .delete-account-parag1,
   .delete-account-parag2,
   .delete-account-parag3,
   .delete-account-parag4 {
      font-size: 8px;
      padding: 10px;
   }



}


@media only screen and (max-width: 390px) {
   .sidebar-wrapper {
      display: flex;
      flex-direction: column;
      width: 350px;

   }

   .sidebar_menu {
      display: none;
   }

   .topnav_menu {

      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

   }

   .fa-solid {

      padding: 5px;
   }

   .sidebar-active {
      color: white;
      border-radius: 3px;
   }

   .sidebar-active::before {
      color: white;
      bottom: -8px;
      left: 0px;
      top: auto;
      height: 2px;
      width: 100%;
      background-color: #fe4766e2;
      border-radius: 0 5px 5px 0;


   }

   .profile_pic {
      width: 70px;
      height: 70px;
   }


}