body{
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

#description-section{
    margin-top: 100px;
}

.icon-arrow-left-container{
    width: 65%;
    margin: 0 auto;
}

.fa-solid{
  font-size: 50px;
  color: #000000;
}

.book-description-container{
    width: 90%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.book-content-img{
    width: 45%;
    height: 590px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    object-fit: cover;
}

.description-content{
    width: 45%;
    height: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover-img{
    width: 350px;
    height: 490px;
}

.book-title-heading{
    font-weight: bolder;
    text-align: center;
    margin: 0;
}

.book-content-details{
   
    width: 95%;
    height: 500px;
    text-align: left;
}

.book-sypnosis{
    text-align: justify;
    font-size: 12px;
    text-indent: 100px;
}

.button-container{

    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#add-to-cart-btn, #buy-btn{
    border: 1px solid #FE4764;
    border-radius: 10px;
    background: none;
    width: 200px;
    height: 55px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 15px;
    color: #FE4764;
}

#buy-btn{
    background-color: #FE4764;
    color: white;
}

#add-to-cart-btn:hover{
    border: 1px solid #FE3152;
    color: #FE3152;
    cursor: pointer;
}

#buy-btn:hover{
    background-color: #FE3152;
    cursor: pointer;
}

.heading{
    width: 65%;
    margin: 0 auto;
    text-align: left;
    text-transform: uppercase;
}

.more-info-container{
    width: 90%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.more-info-title{
    width: 12%;
    height: 290px;
    font-weight: bolder;
    font-size: 12px;
}

.more-info-title-content{
    width: 60%;
    height: 290px;
    font-size: 12px;
}


/*buy modal css*/ 
.three-process-container{
    border: 1px solid black;
    margin: 0 auto;
   margin-top: 50px;
    width: 90%;
    height: 40px;
}
h2.title{
    text-align: center;
    font-weight:900;
}

h3.title{
    text-align: center;
    font-weight:700;
    
    text-transform: none;
}




div.w3-modal-content{
    width: 30%;
    border-radius: 10px;

}

.book-txt, .price-txt, #price-title, #book-title, #total-price-title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #A8ACB9;
    font-size: 12px;
}

h2.total-price-txt{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
 
    color: #222328;

    font-weight: 900;
}
#book-title{
    font-size: 15px;
    color: #222328;
    text-transform: capitalize;
}

#price-title, #total-price-title{
    font-size: 20px;
    color: #222328;
    font-weight: bolder;
}

.billing-info-container{
    margin: 0 auto;
    width: 100%;
    height: 120px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}



#name-title, #address-title, #payment-title, #date-ordered-title{
    font-weight: light;
    font-size: 10px;
    color: #A8ACB9;
    width: 25%;
}

#name-content, #address-content, #payment-content, #date-ordered-content{
    font-weight: light;
    font-size: 10px;
    color: #222328;

    padding-bottom: 5px;
}

p.instruction-txt{
    font-size: 15px;
    color: #222328;
    font-weight: lighter;
    text-align: center;
    margin: 0 auto;
}
#img-content{
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-self: center;
    width: 100px;
    height: 150px;
    object-fit: cover;
}

.total-price-txt{
    color: #222328;
    font-size: 20px;
    font-weight: 900px;
}
.check-title{
    color: #222328;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}

.content{
    color: #222328;
    font-size: 10px;
    text-align: center;
  
}
.circle-container{
    width: 110px;
    height: 110px;
    margin: 0 auto;
    border: 1px solid #4BE1AB;
    border-radius: 110px;

    display: flex;
    flex: none;

    justify-content: center;
    align-items: center;
}

#circle-icon{
    color: #4BE1AB;
}


.w3-container{
  
    height: 80%;
    width: 100%;
    padding: 10px;
}




.w3-footer-container{
    padding: 10px;
    width: 90%;
    margin: 0 auto;  
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin-top: 20px;
}
.footer-content-par{
    font-size: 10px;
    color: #3A405B;
    text-align: center;
    padding: 5px;
}

#btn-next{
    font-size: 12px;
    border-style: none;
    width: 200px;
    padding: 5px;

    border-radius: 100px;
    background-color: #FE4764;
    color: #FFFFFF;
    
}

#btn-next:hover{
    background-color: #FE3152;
    cursor: pointer;
}

a.link-fpw {
    float: right;
    font-size: 8px;
    
    text-decoration: none;
}

a.link-fpw:hover{
    text-decoration: underline;
    color:#1c2030;
}

a.links{
    font-weight: bolder;
}

a.links:hover{
    text-decoration: underline;
    color:#1c2030;
    cursor: pointer;
}

@media only screen and (max-width: 1500px) {}

@media only screen and (max-width: 1366px) {}

@media only screen and (max-width: 1280px) {}


@media only screen and (max-width: 1024px) {}



@media only screen and (max-width: 820px) {}

@media only screen and (max-width: 375px) {}