/* BOOK SHOP GALLERY CSS*/

body{
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

/*DROPDOWN CSS*/
.filter{
  width: 120px;
  height: 35px;
  background-color: #E4E7EF;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.filter-dropdown-container {
  position: relative;
  display: inline-block;
}

.filter-grid-container{
  display: grid;
  justify-items: center;
  align-self: center;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px 0px;
  height: 345px;
}

.filter-grid-content{
  width: 90%;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-self: center;

}

#category-1, #cat1-genre1, #cat1-genre2, #cat1-genre3, #cat1-genre4, #cat1-genre5, #cat1-all{
  font-size: 10px;
  padding: 5px;
}

.filter-dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  width: 800px;
  height: 345px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.filter-dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.filter-dropdown-content a:hover {background-color: #F6F3FC; color: black;}

.filter-dropdown-container:hover .filter-dropdown-content {display: block;}

.filter-dropdown-container:hover .filter{background-color: #f6f3fc;}


/*END DEOPDOWN CSS*/


i.fa-solid{
  font-size: 20px;
  color: black;
}

input {
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 0px;
  border-style: solid;
  border-color: #B8BFD3;
  padding: 10px;
  width: 400px;
  height: 35px;
  border-radius: 10px 0px 0px 10px;
}


i.magnifying{
  font-size: 15px;
  color: white;
  background-color: #FE3152;
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
}


.filter{
  width: 120px;
  height: 35px;
  background-color: #E4E7EF;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


.grid-container{  
  display: grid;
  justify-items: center;
  align-self: center;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px 20px;
  width: 80%;
  height: 1000px;
  margin: 0 auto;
}

.grid-content{
    margin: 0;
    width: 200px;
    height: 365px;

    border: 1px solid #f1f1f1;
   
    border-radius: 10px;
}

.grid-content:hover{ 
  box-shadow: rgba(193, 195, 197, 0.2) 0px 8px 24px;
  cursor: pointer;
}

#book-links{
  text-decoration: none;
  color: #000000;
}
.img-book{
    width: 200px;
    height: 300px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}


.book-content{
  text-align: left;
  
  height: 50px;
  margin: 0;
  padding: 5px;
  object-fit: cover;
}

.book-title, .authors{
  margin-bottom:  px;
}

.authors{
  font-size: 10px;
}



.price{
  float: right;
  font-size: 15px;
}

.filter-search-container{
  
  width: 75%;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  margin: 0 auto;
}

#bookshop-gallery-section, #pagination-section, #filter-search-section{
  margin-top: 100px;
}

.pagination-container{
  
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;

  justify-content: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #FE3152;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

@media only screen and (max-width: 1500px) {}

@media only screen and (max-width: 1366px) {}

@media only screen and (max-width: 1280px) {}


@media only screen and (max-width: 1024px) {}



@media only screen and (max-width: 820px) {}

@media only screen and (max-width: 375px) {}