.account-setting-container{
    /*  border: 1px solid black;/*/
      width: 90%;
      height: 500px;
  
      display: flex;
      flex-direction: row;
  
      margin: 0 auto;
      justify-content: center;
      align-items: center;
  }
  .sideNav-container{
     /* border: 1px solid navy;/*/
      width: 30%;
      height: 490px;
  
      display: flex;
      flex-direction: column;
  
      align-items: center;
  }
  .content-container{
      border: 1px solid #A1A6BB;
      border-radius: 20px;
      width: 60%;
      height: 490px;
        
  
  }
  
  .sidenav-links{
      text-decoration: none;
      color: #000000;
      padding: 10px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
  }    
  
  .sidenav-links:hover{
      border: 1px solid #F6F3FC;
      background-color: #F6F3FC;
  
      border-radius: 40px;
      width: 190px;
  
  }
  
  .content-container{
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      padding: 30px;
      font-weight: bold ;
      
  }
  
  
  .container{
  display: flex;
  position: relative;
  
  }
  .container .textfield-wrapper{
  width: 100%;
  }
  
  .container .textfield-wrapper .inputContainer{
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  
  }
  
  .container .textfield-wrapper .inputContainer i{
  position: absolute;
  right: 0;
  }
  
  .container .textfield-wrapper .inputContainer input{
  width:800px;
  }
  
  .Save-btn{
  width: fit-content;
  height: 35px;
  font-size: 20px;
  background-color: #3A405B;
  color: #FFFFFF;
  border-radius: 40px;
  padding: 5px;
  margin-top: 20px;
  
  float:right;
  
  }
  
  .Save-btn:hover{
      background-color: #383442;
      cursor: pointer;
  }
  
  
  