:root {
  --movie-width: 15.5vw;
  --movie-height: 400px;
  --arrow-width: 100px;
  --slider-py: 120px;
}

@media only screen and (max-width: 1000px) {
  :root {
    --movie-width: 25vw;
  }
}


.feature-books-container {
  position: relative;
  overflow-y: hidden;
  transition: all 0.5s ease-in-out;
  width: 75%;
  max-width: 1280px;
  margin: 0 auto;

}



/*
*
* THE SLIDER CONTAINER
*
*********************************/
.slider {
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  white-space: nowrap;
  position: relative;
  padding-top: var(--slider-py);
  padding-bottom: calc(var(--slider-py) + var(--slider-py)/2);
}


/*
*
* MOVIE ELEMENTS!
*
*********************************/
.ft-books {
  width: var(--movie-width);
  height: var(--movie-height);
  display: inline-block;
  position: relative;
  color: #222328;
  padding: 0 2px;
  font-size: 0.8rem;
  transition: all 0.5s ease-in-out;

  margin: 20px;
}

.ft-books:nth-of-type(1) {
  margin-left: var(--arrow-width);
}

.ft-books img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.189) 0px 3px 5px;
}

.description {
  position: absolute;
  display: none;
  z-index: 9999;
  background-color: #F9F7FC;
  width: calc(var(--movie-width) - 3px);
  margin-top: -10px;
  padding: 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.189) 0px 3px 5px;
}

@media only screen and (min-width: 900px) {
  .ft-books:hover {
    transform: scale(1.1);
    z-index: 2;
    box-shadow: none;
  }

  .ft-books img:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px;
  }

  /* Make description visible when movie is hovered */
  .ft-books:hover>.description {
    display: block;
  }

  .ft-books:hover>img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.description__buttons-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.description__text-container {
  padding: 10px;
}

.description__match {
  color: green;
}

.description__rating {
  outline: 1px solid #222328;
  padding: 0 3px;
  margin: 0 5px;
}

.description__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid #222328;
  text-align: center;
  font-size: 8px;
  margin-right: 5px;
  border-radius: 100%;
}

.description__button:hover {
  border-color: #222328;
  color: #222328;
  cursor: pointer;
}

.description__button:nth-of-type(5) {
  margin-left: auto;
  margin-right: 0;
}

/*
*
* BUTTONS
*
*********************************/
.btn-nav {
  width: var(--arrow-width);
  height: var(--movie-height);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  transform: translateY(20px);
  outline: none;
  border: none;
  color: white;
  top: var(--slider-py);
  z-index: 5;
  visibility: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.right-btn,
.left-btn {
  transform: scale(1.7);
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-nav:hover .right-btn,
.btn-nav:hover .left-btn {
  transform: scale(2);
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
}


#moveLeft {
  left: 0;
  background: transparent;
  /* background: linear-gradient(to left, transparent 0%, #3A405B 100%);
  background-size: 100% 100%; */
}

#moveRight {
  right: 0;
  background: transparent;
  /* background: linear-gradient(to right, transparent 0%, #E4E7EF 100%);
  background-size: 100% 100%; */

}

#moveLeft:active {
  transform: translate(-10px, 20px);
}

#moveRight:active {
  transform: translate(10px, 20px);
}

/* @media only screen and (max-width: 900px) {
  .btn-nav {
    display: none;
  }
} */

.description__title {
  font-size: 1.2vw;
}

.description__author,
.description__price,
.cat-s {
  font-size: .8vw;
}

.cat-s {
  margin-top: 20px;
}



.truncated {
  width: 100%;

  display: block;
  white-space: nowrap;
  /* forces text to single line */
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-nav {
  width: var(--arrow-width);
  height: var(--movie-height);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  transform: translateY(20px);
  outline: none;
  border: none;
  color: white;
  top: var(--slider-py);
  z-index: 5;
  visibility: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.feature-books-container:hover .btn-nav {
  visibility: visible;

}

@media only screen and (min-width: 901px) {}


@media only screen and (max-width: 1500px) {
  :root {

    --movie-height: 370px;


  }


  .btn-nav {
    top: 60px;
  }

  .slider {
    padding-top: 60px;

  }

  .feature-books-container {
    width: 80%;
  }
}

@media only screen and (max-width: 1366px) {
  :root {

    --movie-height: 300px;


  }

  .description {
    padding: 0;
  }

  .cat-s {
    margin-top: 10px;
  }



}

@media only screen and (max-width: 1024px) {
  :root {

    --movie-height: 250px;
  }

  .feature-books-container {

    width: 90%;
  }

  .description__text-container {
    padding: 7px 10px;

  }

  .cat-s {
    margin-top: 0px;
  }

}

@media only screen and (max-width: 820px) {
  :root {

    --movie-height: 330px;
  }

  .feature-books-container {

    width: 100%;
  }
}

@media only screen and (max-width: 390px) {
  :root {

    --movie-height: 180px;
    --arrow-width: 50px;
  }


  .right-btn,
  .left-btn {
    transform: scale(1.7);
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .ft-books {

    margin: 10px;
  }

  .slider {
    padding: 50px 0;
  }




}