body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #e7eff9;
    background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
}

.success-reset-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: red;
}

.success-reset-password p {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 128, 0, 0.856);
    margin-bottom: 5px;
}




.title-fpw {
    text-align: center;
    margin: 1.3rem auto;
}

input.txt-field {
    width: 100%;
}

.block-1233 {
    margin: 3px 0;
}

.pw_container {


    height: 350px;
    width: 450px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pw_content {
    position: relative;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.fpw-form-container {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;

    padding: 10px;
}

label {
    padding: 5px;
}

input {
    padding: 10px;
    color: #4F5362;
    font-size: 12px;
    border-radius: 10px;
    background-color: #EFF0F4;
    border-color: #EFF0F4;
    padding: 5px;
    padding-left: 15px;
    border-style: none;
}

input.txt-field[type=password]:focus {
    outline: 3px solid #ffc7d2;

    background-color: #FFFFFF;
}

.save-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem auto;

}

.save-pw-btn {
    border: none;
    border-radius: 10px;
    width: 70%;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #FE3152;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}


.save-pw-btn:hover {
    transform: scale(1.05);
}

.save-pw-btn:active {
    transform: translateY(2px);
}