
body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}


.title-fpw{
    text-align: center;
}

.pw_container{
    

    height: 640px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pw_content{
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    height: 50%;
    width: 30%;
}

.fpw-form-container{
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    
    padding: 10px;
}

label{
    padding: 5px;
}
input{
    padding: 10px;
    color: #4F5362;
   font-size: 12px;
   border-radius: 10px;
   background-color: #EFF0F4;
   border-color: #EFF0F4;
   padding: 5px;
   padding-left: 15px;
   border-style: none;
}

input[type=password]:focus {
    outline: 3px solid #ffc7d2;
    background-color: #FFFFFF;
 }

.save-btn-container{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.save-pw-btn{
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #FE3152;
    padding: 10px;
}