.view-cart-wrapper-outer {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: white;
   min-height: 100vh;
   position: relative;
   font-family: var(--montserrat-font);
}


.view-cart-header {
   position: absolute;
   top: -80px;
   left: 0;
   font-size: 40px;
   font-weight: 600;
   font-family: var(--crimson-font);
   color: var(--dark-blue-dark)
}

.view-cart-wrapper {
   display: flex;
   /* justify-content: space-between; */
   width: 1280px;
   margin-top: 190px;
   background-color: var(--light-gray);
   /* background-color: #f8f9fd; */
   position: relative;
   border-radius: 15px;
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}


.sidebar_menu {
   display: flex;
   flex-direction: column;

   position: relative;
   list-style: none;
   width: 240px;
   gap: 10px;
   margin: 20px 30px 20px 40px;
}




.sidebar-link {
   width: 100%;
   /* background-color: blanchedalmond; */
   font-size: 18px;
   font-weight: 600;
   /* color: #5e6592; */
   color: var(--secondary-font-color);
   text-align: center;
   text-decoration: none;
   padding: 12px 20px;
   position: relative;
   border-radius: 12px;
   transition: all 0.2s ease-in-out;
}

.sidebar-link:hover {
   transform: scale(1.05);
   color: var(--dark-blue-dark);
   background-color: white;
}

.sidebar-active {
   transform: scale(1.05);
   color: white;
   background-color: #fe4766e2;
   position: relative;
}

.sidebar-active:hover {
   transform: scale(1.05);
   color: white;
   background-color: #fe4766e2;
   position: relative;
}

.sidebar-active::before {
   content: "";
   position: absolute;
   left: -42px;
   top: 0;
   height: 100%;
   width: 10px;
   background-color: #fe4766e2;
   border-radius: 0 8px 8px 0;
}


.view_cart_details_container {
   width: 100%;
   height: 781px;
   background-color: white;
   border-radius: 15px;
}