header {
   background-color: transparent;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   transition: 0.6s;
   z-index: 100;
}


.sticky {
   background-color: var(--light-gray);
}

.sticky .sub-nav-menu li a {
   color: var(--light-gray);
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 50px;
   max-width: 1340px;
   width: 1440px;
   margin: 10px auto 5px auto;
   padding: 0 40px;
}

.logo {
   margin-bottom: 5px;
}

.branding {
   display: flex;
   align-items: center;
   text-decoration: none;
}

.nav-image {
   width: 35px;
   height: 35px;

}

.branding-text {
   font-family: var(--montserrat-font);
   font-size: 23px;
   font-weight: 900;
   color: var(--btn-color);
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 1px;

   background: -webkit-linear-gradient(var(--btn-color), #ff6854);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

   margin: 0 0 0 10px;


}

.nav-menu {
   display: flex;
   align-items: center;
   justify-content: space-between;
   /* transform: translateX(-10%); */
   min-width: 320px;
   margin: 0 0 0 auto;
}


.menu {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   position: relative;
   list-style: none;
   gap: 30px;
}

.nav-item {

   font-family: var(--montserrat-font);
   font-size: 15px;
   font-weight: 500;
   color: var(--primary-font-color);
   text-transform: capitalize;
   letter-spacing: 1px;
   margin: 0;
   padding: 0;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
}

.menu .nav-link {
   color: var(--primary-font-color);
   text-decoration: none;
   position: relative;
}



.nav-link::after {
   content: "";
   height: 3px;
   width: 0;
   background: var(--cyan-dark);
   position: absolute;
   left: 0;
   bottom: -10px;
   transition: 0.5s;
}


.nav-link:hover::after {
   width: 100%;

}

.session-false {
   display: none;
}

.session-true {
   display: none;
}

.active-session {
   display: flex;
}


.right-navbar {
   display: flex;
   flex-direction: row;
}


.sign-in-btn {
   background-color: white;
   border-radius: 100px;
   font-family: var(--montserrat-font);
   all: unset;
   cursor: pointer;
   transition: all .1s ease-in;
   margin-right: 20px;
}



.sign-in-btn:hover {
   transform: scale(1.02);
   color: var(--btn-color-light);
}

.sign-in-btn:active {
   transform: scale(1.02);
}

.sign-up-btn:active {
   transform: translateY(2px);
}

.sign-up-btn {
   appearance: button;
   background-color: var(--btn-color);
   border-radius: 100px;
   border-width: 0;
   font-family: var(--montserrat-font);
   color: #fff;
   cursor: pointer;
   font-size: 100%;
   width: 120px;
   height: 40px;
   line-height: 1.15;
   padding: 0 25px;
   position: relative;
   text-align: center;
   text-transform: capitalize;
   transform: translateZ(0);
   transition: all .2s, box-shadow .08s ease-in;
   user-select: none;
   -webkit-user-select: none;
}

.sign-up-btn:hover {
   transform: scale(1.05);
}

.sign-up-btn:active {
   transform: translateY(2px);
}

.sign-up-btn:disabled {
   cursor: default;
}


.right-navbar .session-true>ul {
   display: flex;
   align-items: center;
   list-style: none;

}

.right-navbar .session-true ul li.nr_li {
   margin-left: 15px;
   cursor: pointer;
   color: var(--primary-font-color);
   font-size: 18px;
   position: relative;
   padding: 0 1px;
   border-radius: 50%;
   transition: all 0.5s ease-in-out;
}

.right-navbar .session-true ul li.nr_li:hover {
   transform: scale(1.1);

   color: var(--btn-color-light);
   /* background-color: var(--light-gray-dark); */
   /* opacity: 0.5; */
}

.right-navbar .session-true ul li.nr_li:hover .ic-prof-view-tgl {

   opacity: 0.8;

}

.right-navbar .session-true ul li .profile-card-nav-br {
   width: 34px;
   height: 34px;
   border-radius: 50%;
   background-color: white;
   border: 1px solid white;
   margin-top: -5px;

   box-shadow: rgba(0, 0, 0, 0.189) 0px 2px 4px;
   overflow: hidden;


}



.right-navbar .session-true ul li .ic-prof-view-tgl {

   padding: 10px 10px;
   border-radius: 50%;
   /* background-color: var(--light-gray); */
   overflow: hidden;

}


.right-navbar .session-true ul li .profile-card-nav-br img,
.prof0-menu-li .profile-card-inner-kwz img {
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center center;
   object-fit: cover;
}

/**********  START | CART DROPDOWN MENU **********/
.right-navbar .cart_dd_menu {
   position: absolute;
   right: -135px;
   top: 53px;
   display: flex;
   flex-direction: column;
   background-color: #fff;
   min-height: 300px;
   max-height: 500px;
   border-radius: 5px;
   box-shadow: 0px 10px 50px rgb(0 0 0 / 15%);
   -webkit-box-shadow: 0px 10px 50px rgb(0 0 0 / 15%);
   -moz-box-shadow: 0px 10px 50px rgb(0 0 0 / 15%);
   list-style: none;
   display: none;
}

.right-navbar .cart_dd_menu:before {
   content: "";
   position: absolute;
   top: -20px;
   right: 146px;
   border: 10px solid;
   border-color: transparent transparent #fff transparent;
}









.right-navbar .cart_dd_menu ul:last-child {
   margin-bottom: 15px;
}

.right-navbar .cart_dd_menu li:hover,
.prof0-menu-li:hover {
   background-color: var(--light-gray);
}


.right-navbar .cart_dd_main.active--nav-s .ic-prof-view-tgl {
   color: var(--btn-color-light);
}

.right-navbar .cart_dd_main.active--nav-s .cart_dd_menu {

   display: flex;
   width: 245px;
}




/**********  END | CART DROPDOWN MENU **********/


/**********  START | NOTIFCATION DROPDOWN MENU **********/

.right-navbar .notif_dd_menu {
   position: absolute;
   right: -75px;
   top: 53px;
   display: flex;
   flex-direction: column;
   background-color: #fff;
   min-height: 300px;
   max-height: 500px;
   border-radius: 5px;
   box-shadow: 0px 10px 50px rgb(0 0 0 / 15%);
   -webkit-box-shadow: 0px 10px 50px rgb(0 0 0 / 15%);
   -moz-box-shadow: 0px 10px 50px rgb(0 0 0 / 15%);
   list-style: none;
   display: none;
}

.right-navbar .notif_dd_menu:before {
   content: "";
   position: absolute;
   top: -20px;
   right: 86px;
   border: 10px solid;
   border-color: transparent transparent #fff transparent;
}

.right-navbar .notif_dd_menu h1,
.right-navbar .cart_dd_menu h1 {
   font-size: 11px;
   font-weight: 400;
   color: var(--secondary-font-color);
   text-transform: capitalize;
   padding: 5px 5px;
}


.notif_dd_menu ul a,
.cart_dd_menu ul a {
   text-decoration: none;
   color: var(--secondary-font-color);
}

.right-navbar .notif_dd_menu ul,
.right-navbar .cart_dd_menu ul {
   width: 100%;
   overflow-x: auto;
}



.notif-item-list,
.cart-item-list {
   display: flex;
   color: var(--secondary-font-color);
   font-weight: 400;
   font-size: 13px;
   list-style: none;
   margin: 0 10px;
   padding: 5px 0;
   margin: 5px;
   border-radius: 5px;
}

.notif-item-img-card,
.cart-item-img-card {
   width: 45px;
   height: 60px;
   border-radius: 5px;
   overflow: hidden;
   margin-left: 5px;
}

.notif-item-img-card img,
.cart-item-img-card img {
   width: 100%;
   height: 100%;
   background-size: cover;
   object-fit: cover;
}

.notif-item-details,
.cart-item-details {
   margin-left: 10px;
   width: 150px;
}

.notif-item-details h3,
.cart-item-details h3 {
   font-size: 11px;
   font-weight: 500;
   color: var(--secondary-font-color);
   text-transform: capitalize;
   margin: 0;
   padding: 0;
}

.notif-item-details p,
.cart-item-details p {
   font-size: 11px;
   font-weight: 400;
   color: var(--secondary-font-color);

   margin: 0;
   padding: 0;
}




.right-navbar .notif_dd_menu ul:last-child {
   margin-bottom: 15px;
}

.right-navbar .notif_dd_menu li:hover,
.prof0-menu-li:hover {
   background-color: var(--light-gray);
}

.right-navbar .notif_dd_main.active--nav-s .ic-prof-view-tgl {
   color: var(--btn-color-light);
}

.right-navbar .notif_dd_main.active--nav-s .notif_dd_menu {
   display: flex;
   width: 245px;
}


.empty-notif {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 220px;
}

.emp_notif_img_card {
   width: 100px;
   height: 100px;
}

.emp_notif_img_card img {
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center center;
   object-fit: cover;
}

.emp_notif_text {
   font-size: 13px;
   font-weight: 500;
   color: var(--dark-gray);
   text-align: center;
   text-transform: capitalize;
   margin: 0;
   padding: 0;
}



/**********  END | NOTIFCATION DROPDOWN MENU **********/
/**********  START | PROFILE DROPDOWN MENU **********/

.right-navbar .prof_dd_menu {
   position: absolute;
   right: -25px;
   top: 47px;
   display: flex;
   background-color: #fff;

   border-radius: 5px;
   box-shadow: 0px 10px 50px rgb(0 0 0 / 15%);
   -webkit-box-shadow: 0px 10px 50px rgb(0 0 0 / 15%);
   -moz-box-shadow: 0px 10px 50px rgb(0 0 0 / 15%);
   list-style: none;
   display: none;
}


.right-navbar .prof_dd_menu .ic-dd-items-fl {
   margin-right: 15px;
}

.prof_dd_menu ul a {
   text-decoration: none;
   color: var(--secondary-font-color);
}

.right-navbar .prof_dd_menu ul {
   width: 100%;

}

.prof0-menu-li {
   display: flex;
   padding: 5px 5px;
   margin: 15px 5px 0 5px;
   border-radius: 5px;
}

.prof0-menu-li .profile-card-inner-kwz {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: white;
   overflow: hidden;



}

.prof0-menu-li .profile-details-0oq {
   margin-left: 13px;
   text-transform: capitalize;

}

.prof0-menu-li .profile-details-0oq h3 {
   font-size: 13px;
   font-weight: 500;
   color: var(--secondary-font-color);
   text-transform: capitalize;
   margin-bottom: 5px;
   padding: 2px 0 0 0;
}

.prof0-menu-li .profile-details-0oq p {
   font-size: 12px;
   font-weight: 400;
   color: var(--secondary-font-color);
   text-transform: capitalize;

}


.right-navbar .prof_dd_menu li {
   /* color: #868686; */
   color: var(--secondary-font-color);
   font-weight: 400;
   font-size: 13px;
   list-style: none;
   margin: 0 10px;
   padding: 10px 20px;
   border-radius: 5px;
}

.right-navbar .prof_dd_menu ul:last-child {
   margin-bottom: 15px;
}

.right-navbar .prof_dd_menu li:hover,
.prof0-menu-li:hover {
   background-color: var(--light-gray);
}

.right-navbar .prof_dd_menu:before {
   content: "";
   position: absolute;
   top: -20px;
   right: 33px;
   border: 10px solid;
   border-color: transparent transparent #fff transparent;
}

/* .right-navbar .cart_dd_main.active--nav-s .ic-prof-view-tgl {
   color: var(--btn-color-light);
} */

.right-navbar .prof_dd_main.active--nav-s .prof_dd_menu {
   display: flex;
   width: 245px;
}

.line-break-profile {
   width: 90%;
   height: 1px;
   background-color: var(--dark-gray);
   margin: 10px auto;
   /* margin: 10px 0 10px 0; */
}

/**********  END | PROFILE DROPDOWN MENU **********/


.hamburger {
   display: none;
   position: absolute;
   right: 10px;
   top: 4px;
   cursor: pointer;
   margin: 11px;

   z-index: 10;
   transition: all 0.3s ease-in-out;
}

.hamburger:hover {
   transform: scale(1.1);
}

.hamburger:hover span {
   transform: scale(1.3);
}

.hamburger:active {
   transform: translateY(2px);
}

.burger-bar {
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   border-radius: 3px;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease;
   background-color: var(--dark-blue-dark);
}


@media only screen and (max-width: 1500px) {}

@media only screen and (max-width: 1366px) {
   .navbar {
      width: 1200px;
   }
}

@media only screen and (max-width: 1280px) {}


@media only screen and (max-width: 1024px) {
   .navbar {
      width: 95%;
      padding: 0;
   }

   .nav-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* transform: translateX(-10%); */
      min-width: 280px;
      margin: 0 0 0 auto;
   }

   .nav-item {
      font-size: 13px;
   }

   .sign-in-btn {
      font-size: 12px;
      margin: 0 10px 0 10px;

   }

   .sign-up-btn {
      font-size: 12px;
      width: 86px;
      height: 28.67px;
      padding: 0;
   }

   .right-navbar .session-true ul li.nr_li {
      margin-left: 10px;
      font-size: 10px;
   }

   .right-navbar .session-true ul li .profile-card-nav-br {
      width: 30px;
      height: 30px;
      margin: 5px
   }

   .branding-text {
      font-size: 20px;
   }

   .right-navbar .session-true ul li .ic-prof-view-tgl {
      padding: 8px;
   }

   /* .menu {

         gap: 20px;
      } */


   .right-navbar .cart_dd_menu {
      right: -110px;
      top: 53px;

   }

   .right-navbar .cart_dd_menu:before {
      top: -20px;
      right: 120px;
   }

   .right-navbar .notif_dd_menu {
      right: -60px;
      top: 53px;
   }

   .right-navbar .notif_dd_menu:before {
      top: -20px;
      right: 70px;
   }

   .right-navbar .prof_dd_menu {
      right: -10px;
      top: 53px;
   }

   .right-navbar .prof_dd_menu:before {
      top: -20px;
      right: 20px;
   }

}



@media only screen and (max-width: 820px) {
   .right-navbar {
      flex-direction: row-reverse;
   }

   .navbar {
      width: 100vw;
      min-height: 40px;
      margin: 8px auto 8px auto;
      padding: 0 40px;
   }

   .hamburger {
      display: block;
   }

   .hamburger.navbar-active .burger-bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
   }

   .hamburger.navbar-active .burger-bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
   }

   .hamburger.navbar-active .burger-bar:nth-child(2) {
      opacity: 0;
   }

   .hamburger.navbar-active:hover span {
      transform: scale(1.5);
      background-color: var(--error);
   }

   .nav-menu {
      background-color: var(--dark-gray);
      background-image:
         url(/assets/images/illustrations/nav-bg.jpg);
      background-size: cover;
      background-position: center;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      position: fixed;
      left: 0;
      top: -100%;
      gap: 0;
      text-align: center;
      transition: 0.3s;
      z-index: 10;
   }

   .menu {
      height: 100vh;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0;
      z-index: 10;
   }

   .nav-item {
      margin: 16px 0;
   }

   .nav-menu.navbar-active {
      top: 0;
   }


   .branding-text {
      font-size: 22px;
   }

   .session-false {
      margin-right: 35px;
   }

   /* .session-false {
      position: absolute;
      right: 80px;
      top: 13px;
   } */

   /* .session-true {
      position: absolute;
      right: 80px;
      top: 13px;
   } */


   .sign-in-btn {
      font-size: 15px;
      margin: 0 20px;

   }

   .sign-up-btn {
      font-size: 15px;
      width: 100px;
      height: 30px;
      padding: 0 10px;
   }


   .right-navbar .session-true>ul {
      margin-right: 40px;
   }

   .right-navbar .session-true ul li .ic-prof-view-tgl {
      padding: 8px;
      /* font-size: 23px; */
   }
}

@media only screen and (max-width: 390px) {
   .navbar {
      width: 100vw;
      min-height: 40px;
      margin: 3px auto;
      padding: 0 20px;
   }

   .nav-image {
      width: 30px;
      height: 30px;

   }

   .branding-text {
      display: none;
   }

   .sign-in-btn {
      font-size: 10px;
      margin: 0 15px;

   }

   .sign-up-btn {
      font-size: 10px;
      width: 65px;
      height: 19px;
      padding: 0;
      margin-right: 5px;
   }

   .hamburger {
      margin: 10px;
      right: 10px;
      top: 4px;
   }

   .logo {

      margin: 0;
   }

   .burger-bar {
      display: block;
      width: 20px;
      height: 2px;
      margin: 3px auto;
      border-radius: 3px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease;
      background-color: var(--dark-blue-dark);
   }

   .hamburger.navbar-active .burger-bar:nth-child(1) {
      transform: translateY(5px) rotate(45deg);
   }

   .hamburger.navbar-active .burger-bar:nth-child(3) {
      transform: translateY(-5px) rotate(-45deg);
   }


   .right-navbar .session-true>ul {
      margin-right: 40px;
   }

   .right-navbar .session-true ul li .ic-prof-view-tgl {
      padding: 8px;
      font-size: 17px;
   }

   .right-navbar .session-true ul li .profile-card-nav-br {
      width: 22px;
      height: 22px;
      margin: 5px;
   }

   .right-navbar .session-true ul li.nr_li {
      display: flex;
      align-items: center;
   }
}


.page-xyzsqw {
   margin: 0 auto 0 -40px;
   text-align: center;
   padding: 1em 0;
}

.scroll-kjre {
   height: 300px;
   width: 40px;
   overflow-y: scroll;
   display: inline-block;
}

.scroll-kjre .inner-scroll {
   height: 300%;
   width: 100%;
   content: ".";
}

.scroll--simple::-webkit-scrollbar {
   width: 6px;
   height: 6px;
}

.scroll--simple::-webkit-scrollbar-track {
   border-radius: 10px;
   background: rgba(0, 0, 0, 0.1);
}

.scroll--simple::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background: rgba(0, 0, 0, 0.2);
}

.scroll--simple::-webkit-scrollbar-thumb:hover {
   background: rgba(0, 0, 0, 0.4);
}

.scroll--simple::-webkit-scrollbar-thumb:active {
   background: rgba(0, 0, 0, 0.9);
}