@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
   /* FONT FAMILY */
   --montserrat-font: 'Montserrat', sans-serif;
   --crimscon-pro-font: "Crimson Pro", serif;

   /* COLORS */
   --primary-font-color: #120E30;
   --secondary-font-color: #686D81;
   --bg-color: #F6F3FC;
   --bg-color-light: #F9F7FC;

   --btn-color: #FE3152;
   --btn-color-light: #FE4764;
   --btn-color-50: #fe47668f;
   --btn-color-15: #fe476623;
   --cyan: #51DDE9;
   --cyan-dark: #32CDDA;
   --blue: #3B55E6;
   --blue-dark: #334CD5;
   --dark-gray: #B9BED1;
   --dark-gray-dark: #A1A6BB;
   --light-gray: #F0F2F7;
   --light-gray-dark: #E4E7EF;
   --dark-blue: #3A405B;
   --dark-blue-dark: #222328;

   --success: #4BE1AB;
   --success-50: #4be1aa86;
   --success-15: #4BE1AB26;

   --success-dark: #43D29E;

   --pending: #F3D351;
   --pending-15: #F3D35126;
   --pending-dark: #E8C63B;

   --error: #FE5339;
   --error-50: #fe533983;
   --error-15: #FE533926;
   --error-dark: #EB4E36;


   --transition: all 0.3s ease-in-out
}




* {
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   padding: 0;
}



html {
   scroll-behavior: smooth;

}



/* @media only screen and (max-width: 1500px) {}

@media only screen and (max-width: 1366px) {}

@media only screen and (max-width: 1280px) {}


@media only screen and (max-width: 1024px) {}



@media only screen and (max-width: 820px) {}

@media only screen and (max-width: 375px) {} */